.mission-vision{
    display: flex;
    justify-content: space-between;
    background-color: #051014;
}
.mission-vision-image{
    width: 43%;
}
.mission-vision-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mission-vision-content{
    padding: 5rem 7% 3rem 0;
    width: 53%;
}
.mv-card-row{
    display: flex;
    justify-content: space-between;
}
.mv-card-row .mv-card{
    width: 48.5%;
    border-left: 5px solid #179cab;
    padding: 1rem;
    border-radius: 10px;
    background-color: #061920;
    box-shadow: rgba(255, 255, 255, 0.175) 2px 2px 2.6px;
    transition: all 0.2s ease;
}
.mv-card-row .mv-card:hover{
    background-color: #179cab;
    transform: translateY(-5px);
}
.mv-card-row .mv-card span{
    color: #fff;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
}
.mv-card-row .mv-card p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.8;
}
.mission-vision-content #secondary-title{
    display: block;
    width: max-content;
    background-color: #179cab;
    color: #fff;
    padding: 0.6rem 1rem;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 4rem;
}
.mission-vision-content h3{
    color: #fff;
    font-weight: 700;
    font-size: calc(2.2rem + 0.5vw);
    margin-top: 2rem;
}
.mission-vision-content .mv-counter-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
}
.mission-vision-content .mv-counter-row .mv-counter-box{
    width: 30%;
    border: 5px solid #179cab;
    padding: 2.2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.mission-vision-content .mv-counter-row .mv-counter-box span{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    display: block;
    margin-top: 1rem;
    position: relative;
}
.mission-vision-content .mv-counter-row .mv-counter-box .layer{
    width: 100%;
    height: 100%;
    background-color: #179cab;
    position: absolute;
    top: -100%;
    transition: top 0.4s ease;
}
.mission-vision-content .mv-counter-row .mv-counter-box:hover .layer{
    top: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .mission-vision-content{
        padding: 4.5rem 7% 3.5rem 0;
    }
    .mv-card-row .mv-card{
        border-left: 4.8px solid #179cab;
        padding: 0.9rem;
    }
    .mv-card-row .mv-card span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .mv-card-row .mv-card p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 1rem;
    }
    .mission-vision-content #secondary-title{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 3.5rem;
    }
    .mission-vision-content h3{
        font-size: calc(1.95rem + 0.5vw);
        margin-top: 1.9rem;
    }
    .mission-vision-content .mv-counter-row{
        margin-top: 3rem;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box{
        border: 4.5px solid #179cab;
        padding: 1.9rem 1rem;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box span{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .mission-vision-content{
        padding: 4rem 7% 3.5rem 0;
    }
    .mv-card-row .mv-card{
        border-left: 4.7px solid #179cab;
        padding: 0.8rem;
    }
    .mv-card-row .mv-card span{
        font-size: calc(0.8rem + 0.5vw);
    }
    .mv-card-row .mv-card p{
        font-size: calc(0.47rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .mission-vision-content #secondary-title{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 3rem;
    }
    .mission-vision-content h3{
        font-size: calc(1.8rem + 0.5vw);
        margin-top: 1.95rem;
    }
    .mission-vision-content .mv-counter-row{
        margin-top: 2.8rem;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box{
        border: 4px solid #179cab;
        padding: 1.5rem 1rem;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box span{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.8rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .mission-vision{
        flex-direction: column;
    }
    .mission-vision-image{
        width: 100%;
    }
    .mission-vision-content{
        padding: 1.5rem 1rem 2rem 1rem;
        width: 100%;
    }
    .mv-card-row{
        flex-direction: column;
    }
    .mv-card-row .mv-card{
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1.3rem;
    }
    .mv-card-row .mv-card span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .mv-card-row .mv-card p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .mission-vision-content #secondary-title{
        padding: 0.5rem 0.9rem;
        font-size: calc(1rem + 0.5vw);
        margin-top: 1rem;
    }
    .mission-vision-content h3{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: 1.8rem;
    }
    .mission-vision-content .mv-counter-row{
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box{
        width: 100%;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
    .mission-vision-content .mv-counter-row .mv-counter-box span{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
    }
}