.mission-vision{
    display: flex;
    justify-content: space-between;
    background-color: #051014;
}
.mission-vision-image{
    width: 43%;
}
.mission-vision-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mission-vision-content{
    padding: 5rem 7% 3rem 0;
    width: 53%;
}
.mv-card-row{
    display: flex;
    justify-content: space-between;
}
.mv-card-row .mv-card{
    width: 48.5%;
    border-left: 5px solid #179cab;
    padding: 1rem;
    border-radius: 10px;
    background-color: #061920;
    box-shadow: rgba(255, 255, 255, 0.175) 2px 2px 2.6px;
}
.mv-card-row .mv-card span{
    color: #fff;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
}
.mv-card-row .mv-card p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.8;
}