.home-welcome{
    padding: 0 7% 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.home-welcome-image{
    width: 42%;
    position: relative;
}
.home-welcome-image img{
    width: 100%;
}
.home-welcome-image #floating-img-1{
    position: absolute;
    bottom: 0;
    left: -3.5rem;
    width: 90%;
}
.home-welcome #floating-img-2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    z-index: -1;
}
.home-welcome-content{
    width: 52%;
}
.home-welcome-content span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 8rem;
}
.home-welcome-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.home-welcome-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.home-welcome-content .features{
    margin-top: 2.5rem;
}
.home-welcome-content .features p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.3rem;
    line-height: 1;
}
.home-welcome-content .features p .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0.5rem;
}
.home-welcome-content .tagline{
    margin-top: 3rem;
    border: 0.6rem solid #179cab;
}
.home-welcome-content .tagline p{
    text-align: center;
    color: #171614;
    font-size: calc(1.3rem + 0.5vw);
    line-height: 1.3;
    font-weight: 700;
}