.home-welcome{
    padding: 0 7% 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.home-welcome-image{
    width: 42%;
    position: relative;
}
.home-welcome-image img{
    width: 100%;
}
.home-welcome-image #floating-img-1{
    position: absolute;
    bottom: 0;
    left: -3.5rem;
    width: 90%;
}
.home-welcome #floating-img-2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    z-index: -1;
}
.home-welcome-content{
    width: 52%;
}
.home-welcome-content span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 5rem;
}
.home-welcome-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1rem;
    text-transform: uppercase;
}
.home-welcome-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.home-welcome-content .features{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.home-welcome-content .features .features-left{
    width: 50%;
}
.home-welcome-content .features p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.3rem;
    line-height: 1;
    display: flex;
    align-items: center;
}
.home-welcome-content .features p .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.7rem;
}
.home-welcome-content .features .features-right{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
}
.home-welcome-content .features .features-right .feature-box{
    background-color: #fff;
    padding: 0.65rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-welcome-content .features .features-right .feature-box p{
    text-align: center;
    color: #171614;
    font-weight: 600;
    text-align: center;
}
.home-welcome-content .tagline{
    margin-top: 3rem;
    border: 0.6rem solid #179cab;
}
.home-welcome-content .tagline p{
    text-align: center;
    color: #171614;
    font-size: calc(1.3rem + 0.5vw);
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .home-welcome{
        padding: 0 7% 5.5rem 7%;
    }
    .home-welcome-image #floating-img-1{
        left: -3rem;
    }
    .home-welcome #floating-img-2{
        width: 450px;
    }
    .home-welcome-content span{
        border: 2.5px solid #179cab;
        padding: 0.48rem 1rem;
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 4.5rem;
    }
    .home-welcome-content h2{
        font-size: calc(3.2rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .home-welcome-content p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.4rem;
        line-height: 1.7;
    }
    .home-welcome-content .features{
        margin-top: 2rem;
    }
    .home-welcome-content .features p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .home-welcome-content .features p .icon{
        width: 29px;
        height: 29px;
        padding: 0.4rem;
        margin-right: 0.65rem;
    }
    .home-welcome-content .features .features-right{
        gap: 1.3rem;
    }
    .home-welcome-content .features .features-right .feature-box{
        padding: 0.6rem;
    }
    .home-welcome-content .tagline{
        margin-top: 2.8rem;
        border: 0.5rem solid #179cab;
    }
    .home-welcome-content .tagline p{
        font-size: calc(1.2rem + 0.5vw);
        line-height: 1.3;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .home-welcome{
        padding: 0 7% 5rem 7%;
    }
    .home-welcome-image #floating-img-1{
        left: -2.5rem;
    }
    .home-welcome #floating-img-2{
        width: 420px;
    }
    .home-welcome-content span{
        border: 2px solid #179cab;
        padding: 0.45rem 1rem;
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 3.7rem;
    }
    .home-welcome-content h2{
        font-size: calc(2.9rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .home-welcome-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.3rem;
        line-height: 1.7;
    }
    .home-welcome-content .features{
        margin-top: 1.5rem;
    }
    .home-welcome-content .features p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.1rem;
    }
    .home-welcome-content .features p .icon{
        width: 26px;
        height: 26px;
        padding: 0.35rem;
        margin-right: 0.6rem;
    }
    .home-welcome-content .features .features-right{
        gap: 1rem;
    }
    .home-welcome-content .features .features-right .feature-box{
        padding: 0.5rem;
    }
    .home-welcome-content .tagline{
        margin-top: 2.5rem;
        border: 0.45rem solid #179cab;
    }
    .home-welcome-content .tagline p{
        font-size: calc(1.1rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .home-welcome{
        padding: 0.5rem 1rem 6rem 1rem;
        flex-direction: column-reverse;
    }
    .home-welcome-image{
        width: 100%;
        margin-top: 2rem;
    }
    .home-welcome-image #floating-img-1{
        bottom: -3rem;
        left: -1rem;
        width: 60%;
    }
    .home-welcome #floating-img-2{
        width: 100%;
    }
    .home-welcome-content{
        width: 100%;
    }
    .home-welcome-content span{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1rem;
        border: 2px solid #179cab;
        padding: 0.3rem 0.9rem;
    }
    .home-welcome-content h2{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: 1rem;
    }
    .home-welcome-content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .home-welcome-content .features{
        margin-top: 1rem;
        flex-direction: column;
    }
    .home-welcome-content .features .features-left{
        width: 100%;
    }
    .home-welcome-content .features p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .home-welcome-content .features p .icon{
        margin-right: 0.8rem;
        width: 30px;
        height: 30px;
        padding: 0.4rem;
    }
    .home-welcome-content .features .features-right{
        width: 100%;
        margin-top: 1.3rem;
        gap: 1.2rem;
    }
    .home-welcome-content .features .features-right .feature-box{
        padding: 0.6rem;
    }
    .home-welcome-content .tagline{
        margin-top: 2rem;
        border: 0.5rem solid #179cab;
    }
    .home-welcome-content .tagline p{
        font-size: calc(1.05rem + 0.5vw);
        padding: 0 0.5rem;
    }
}