.about-welcome{
    padding: 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-welcome-image{
    width: 45%;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.427) 0px 3px 8px; */
}
.about-welcome-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-welcome-content{
    width: 50%;
}
.about-welcome-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: -0.6rem;
    text-transform: uppercase;
}
.about-welcome-content span{
    color: #171614;
    font-weight: 800;
    font-size: calc(1.7rem + 0.5vw);
    text-transform: uppercase;
    display: block;
    margin-top: 0.5rem;
}
.about-welcome-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-welcome{
        padding: 5.5rem 7%;
    }
    .about-welcome-content h2{
        font-size: calc(3rem + 0.5vw);
        margin-top: -0.6rem;
    }
    .about-welcome-content span{
        font-size: calc(1.6rem + 0.5vw);
        margin-top: 0.45rem;
    }
    .about-welcome-content p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-welcome{
        padding: 5rem 7%;
    }
    .about-welcome-content h2{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: -0.5rem;
    }
    .about-welcome-content span{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .about-welcome-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.3rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .about-welcome{
        padding: 0.5rem 1rem 2.5rem 1rem;
    }
    .about-welcome-image{
        width: 100%;
    }
    .about-welcome-content{
        width: 100%;
        margin-top: 2.5rem;
    }
    .about-welcome-content h2{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: 0;
    }
    .about-welcome-content span{
        font-size: calc(1rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .about-welcome-content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1rem;
    }
}