.about-welcome{
    padding: 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-welcome-image{
    width: 45%;
    position: relative;
    overflow: hidden;
}
.about-welcome-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-welcome-image .exp-box{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 3rem;
    background-color: #179cab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-welcome-image .exp-box .icon{
    color: #fff;
    font-size: calc(3.5rem + 0.5vw);
}
.about-welcome-image .exp-box span{
    color: #fff;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
    display: block;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.about-welcome-content{
    width: 50%;
}
.about-welcome-content span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.about-welcome-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.about-welcome-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.about-welcome-content .features{
    display: flex;
    justify-content: space-between;
}
.about-welcome-content .features-left,
.about-welcome-content .features-right{
    width: 48.5%;
}
.about-welcome-content .features p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.3rem;
    line-height: 1;
    display: flex;
    align-items: center;
}
.about-welcome-content .features p .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.7rem;
}

.about-welcome-content .prog{
    margin-top: 1.5rem;
}
.about-welcome-content .prog span{
    display: block;
    width: max-content;
    color: #171614;
    border: none;
    padding: 0;
    font-weight: 700;
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1.2rem;
}
.about-welcome-content .prog span:nth-child(1){
    margin-top: 0;
}
.about-welcome-content progress{
    width: 100%;
    height: 6px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}
.about-welcome-content progress::-webkit-progress-bar {
    background-color: #e0e0e0;
}
.about-welcome-content progress::-webkit-progress-value {
    background-color: #179cab;
}
/* Firefox */
.about-welcome-content progress::-moz-progress-bar {
    background-color: #179cab;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-welcome{
        padding: 5.5rem 7%;
    }
    .about-welcome-image .exp-box{
        width: 240px;
        height: 240px;
        right: 2.7rem;
    }
    .about-welcome-image .exp-box .icon{
        font-size: calc(3.2rem + 0.5vw);
    }
    .about-welcome-image .exp-box span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .about-welcome-content span{
        border: 2.5px solid #179cab;
        padding: 0.49rem 0.8rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .about-welcome-content h2{
        font-size: calc(3rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .about-welcome-content p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.4rem;
    }
    .about-welcome-content .features p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .about-welcome-content .features p .icon{
        width: 31px;
        height: 31px;
        padding: 0.45rem;
        margin-right: 0.6rem;
    }

    .about-welcome-content .prog{
        margin-top: 1.4rem;
    }
    .about-welcome-content .prog span{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.1rem;
    }
    .about-welcome-content progress{
        height: 5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-welcome{
        padding: 5rem 7%;
    }
    .about-welcome-image .exp-box{
        width: 225px;
        height: 225px;
        right: 2.5rem;
    }
    .about-welcome-image .exp-box .icon{
        font-size: calc(2.9rem + 0.5vw);
    }
    .about-welcome-image .exp-box span{
        font-size: calc(0.8rem + 0.5vw);
    }
    .about-welcome-content span{
        border: 2px solid #179cab;
        padding: 0.48rem 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .about-welcome-content h2{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .about-welcome-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .about-welcome-content .features p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.1rem;
    }
    .about-welcome-content .features p .icon{
        width: 28px;
        height: 28px;
        padding: 0.42rem;
        margin-right: 0.5rem;
    }

    .about-welcome-content .prog{
        margin-top: 1.2rem;
    }
    .about-welcome-content .prog span{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 1rem;
    }
    .about-welcome-content progress{
        height: 4.5px;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}