.about-welcome{
    padding: 6rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-welcome-image{
    width: 45%;
    position: relative;
}
.about-welcome-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-welcome-image .exp-box{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 3rem;
    background-color: #179cab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-welcome-image .exp-box .icon{
    color: #fff;
    font-size: calc(3.5rem + 0.5vw);
}
.about-welcome-image .exp-box span{
    color: #fff;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
    display: block;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.about-welcome-content{
    width: 50%;
}
.about-welcome-content span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.about-welcome-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.about-welcome-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.about-welcome-content .features{
    display: flex;
    justify-content: space-between;
}
.about-welcome-content .features-left,
.about-welcome-content .features-right{
    width: 48.5%;
}
.about-welcome-content .features p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.3rem;
    line-height: 1;
    display: flex;
    align-items: center;
}
.about-welcome-content .features p .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.7rem;
}

.about-welcome-content .prog{
    margin-top: 1.5rem;
}
.about-welcome-content .prog span{
    display: block;
    width: max-content;
    color: #171614;
    border: none;
    padding: 0;
    font-weight: 700;
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1.2rem;
}
.about-welcome-content .prog span:nth-child(1){
    margin-top: 0;
}
.about-welcome-content progress{
    width: 100%;
    height: 5px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}
.about-welcome-content progress::-webkit-progress-bar {
    background-color: #e0e0e0;
}
.about-welcome-content progress::-webkit-progress-value {
    background-color: #179cab;
}
/* Firefox */
.about-welcome-content progress::-moz-progress-bar {
    background-color: #179cab;
}
