.cta-box{
    padding: 6rem 7%;
    background-color: #179cab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-box .cta-box-left{
    width: 70%;
}
.cta-box span{
    color: #fff;
    font-size: calc(2.8rem + 0.5vw);
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}
.cta-box .button{
    background-color: #fff;
    color: #000;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    padding: 1.3rem 3.5rem;
    border-radius: 0;
}
.cta-box .button:hover{
    background-color: #ffaa0f;
}
.button .MuiTouchRipple-root .MuiTouchRipple-child {
  background-color: #fff !important; /* change to your preferred ripple color */
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .cta-box{
        padding: 5.5rem 7%;
    }
    .cta-box span{
        font-size: calc(2.6rem + 0.5vw);
    }
    .cta-box .button{
        font-size: calc(0.65rem + 0.5vw);
        padding: 1.2rem 3.3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .cta-box{
        padding: 4.9rem 7%;
    }
    .cta-box span{
        font-size: calc(2.4rem + 0.5vw);
    }
    .cta-box .button{
        font-size: calc(0.6rem + 0.5vw);
        padding: 1.1rem 3rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .cta-box{
        padding: 1.5rem 1rem;
        flex-direction: column;
    }
    .cta-box .cta-box-left{
        width: 100%;
    }
    .cta-box span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .cta-box .button{
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.6rem 1rem;
        margin-top: 1.3rem;
    }
}