/* Banner Start */
.about-banner .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-banner .banner-content h1{
    color: #171614;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.about-banner .banner-content p{
    color: #171614;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    width: 40%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-banner .banner-content h1{
        font-size: calc(3.3rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .about-banner .banner-content p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-banner .banner-content h1{
        font-size: calc(2.9rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .about-banner .banner-content p{
        font-size: calc(0.58rem + 0.5vw);
        width: 39%;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .about-banner .banner-content h1{
        font-size: calc(1.45rem + 0.5vw);
        margin-bottom: 0;
        margin-top: 0.4rem;
    }
    .about-banner .banner-content p{
        display: none;
    }
    #banner-moblile-text{
        padding: 1rem 1rem;
    }
    #banner-moblile-text p{
        color: #171614;
        font-weight: 500;
        font-size: calc(0.88rem + 0.5vw);
    }
}

@media screen and (min-width: 768px) {
    #banner-moblile-text{
        display: none;
    }
}
/* Banner End */

/* Our Products Start */
.our-products{
    padding: 0 0 4rem 0;
}
.our-products .our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products .our-products-head h4{
    font-size: calc(2.5rem + 0.5vw);
    color: #171614;
    font-weight: 700;
}
.our-products .our-products-head .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #179cab;
}
.our-products .our-products-boxes-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.our-products .our-products-boxes-row .our-products-box{
    width: 32.5%;
}
.our-products .our-products-boxes-row .our-products-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-products{
        padding: 0 0 4rem 0;
    }
    .our-products .our-products-head h4{
        font-size: calc(2.2rem + 0.5vw);
    }
    .our-products .our-products-head .line{
        width: 65px;
        height: 5.5px;
    }
    .our-products .our-products-boxes-row{
        margin-top: 2.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-products{
        padding: 0 0 3.5rem 0;
    }
    .our-products .our-products-head h4{
        font-size: calc(2rem + 0.5vw);
    }
    .our-products .our-products-head .line{
        width: 60px;
        height: 5px;
    }
    .our-products .our-products-boxes-row{
        margin-top: 2.6rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Our Products End */