/* Our Products Start */
.our-products{
    padding: 0 0 4rem 0;
}
.our-products .our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products .our-products-head h4{
    font-size: calc(2.5rem + 0.5vw);
    color: #171614;
    font-weight: 700;
}
.our-products .our-products-head .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #179cab;
}
.our-products .our-products-boxes-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.our-products .our-products-boxes-row .our-products-box{
    width: 32.5%;
}
.our-products .our-products-boxes-row .our-products-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Our Products End */