/* Banner Start */
.about-banner .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-banner .banner-content h1{
    color: #171614;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.about-banner .banner-content p{
    color: #171614;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    width: 40%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-banner .banner-content h1{
        font-size: calc(3.3rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .about-banner .banner-content p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-banner .banner-content h1{
        font-size: calc(2.9rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .about-banner .banner-content p{
        font-size: calc(0.58rem + 0.5vw);
        width: 39%;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .about-banner .banner-content h1{
        font-size: calc(1.45rem + 0.5vw);
        margin-bottom: 0;
        margin-top: 0.4rem;
    }
    .about-banner .banner-content p{
        display: none;
    }
}
/* Banner End */

/* Our Team Start */
.our-team{
    padding: 0 0 4rem 0;
}
.our-team .our-team-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-team .our-team-head h4{
    font-size: calc(2.5rem + 0.5vw);
    color: #171614;
    font-weight: 700;
}
.our-team .our-team-head p{
    color: #171614;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    text-align: center;
    width: 80%;
    margin: 0.5rem auto 1.3rem auto;
}
.our-team .our-team-head .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #179cab;
}
.our-team .our-team-boxes-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.our-team .our-team-boxes-row .our-team-box{
    width: 32.5%;
}
.our-team .our-team-boxes-row .our-team-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-team{
        padding: 0 0 4rem 0;
    }
    .our-team .our-team-head h4{
        font-size: calc(2.2rem + 0.5vw);
    }
    .our-team .our-team-head p{
        font-size: calc(0.65rem + 0.5vw);
        margin: 0.4rem auto 1.2rem auto;
    }
    .our-team .our-team-head .line{
        width: 65px;
        height: 5.5px;
    }
    .our-team .our-team-boxes-row{
        margin-top: 2.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-team{
        padding: 0 0 3.5rem 0;
    }
    .our-team .our-team-head h4{
        font-size: calc(2rem + 0.5vw);
    }
    .our-team .our-team-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin: 0.3rem auto 1rem auto;
    }
    .our-team .our-team-head .line{
        width: 60px;
        height: 5px;
    }
    .our-team .our-team-boxes-row{
        margin-top: 2.6rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .our-team{
        padding: 0 0 0 0;
    }
    .our-team .our-team-head{
        padding: 0 1rem;
    }
    .our-team .our-team-head h4{
        font-size: calc(1.45rem + 0.5vw);
    }
    .our-team .our-team-head p{
        width: 100%;
        font-size: calc(0.9rem + 0.5vw);
        margin: 0.1rem auto 0.7rem auto;
    }
    .our-team .our-team-head .line{
        width: 40px;
        height: 4px;
    }
    .our-team .our-team-boxes-row{
        margin-top: 2rem;
        flex-direction: column;
    }
    .our-team .our-team-boxes-row .our-team-box{
        width: 100%;
        margin-bottom: 1rem;
    }
    .our-team .our-team-boxes-row .our-team-box:last-child{
        margin-bottom: 0;
    }
}
/* Our Team End */