/* Banner Start */
.applications-banner .banner-content{
    display: flex;
    align-items: end;
}
.applications-banner h1{
    color: #171612;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .applications-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .applications-banner .banner-content h1{
        font-size: calc(3.25rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .applications-banner h1{
        font-size: calc(1.45rem + 0.5vw);
        margin-bottom: 0.2rem;
    }
}
/* Banner End */

/* Applications Start */
.applications{
    padding: 5rem 7%;
}
.applications-head h2{
    font-weight: 700;
    font-size: calc(1.7rem + 0.5vw);
    color: #171612;
    text-transform: uppercase;
}
.applications-head p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1rem;
}
.applications-card-row{
    margin-top: 3rem;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 2%;
}
.applications-card{
    /* width: 31.5%; */
    width: 23.5%;
    box-shadow: rgba(0, 0, 0, 0.53) 0px 3px 8px;
    border-radius: 2px;
    overflow: hidden;
    /* margin-bottom: 2.3rem; */
    margin-bottom: 1.7rem;
}
.applications-card:hover{
    box-shadow: rgba(0, 0, 0, 0.681) 0px 4px 8px;
}
.applications-card .card-image{
    overflow: hidden;
}
.applications-card img{
    width: 100%;
    transition: scale 0.8s ease;
}
.applications-card:hover img{
    scale: 1.1;
}
.applications-card .card-desc{
    padding: 1rem 0.8rem 0.2rem 0.8rem;
}
.applications-card span{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
    color: #171612;
    text-transform: uppercase;
}
.applications-card p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 0.5rem;
    text-align: center;
}
.applications-foot-content p{
    margin: 2rem auto 0 auto;
    width: 70%;
    text-align: center;
    color: #171612;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .applications{
        padding: 4.5rem 7%;
    }
    .applications-head h2{
        font-size: calc(1.6rem + 0.5vw);
    }
    .applications-head p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .applications-card-row{
        margin-top: 2.9rem;
    }
    .applications-card{
        margin-bottom: 1.65rem;
    }
    .applications-card .card-desc{
        padding: 0.9rem 0.9rem 0.1rem 0.9rem;
    }
    .applications-card span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .applications-card p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.45rem;
    }
    .applications-foot-content p{
        margin: 1.8rem auto 0 auto;
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .applications{
        padding: 4rem 7%;
    }
    .applications-head h2{
        font-size: calc(1.45rem + 0.5vw);
    }
    .applications-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .applications-card-row{
        margin-top: 2.8rem;
    }
    .applications-card{
        margin-bottom: 1.45rem;
    }
    .applications-card .card-desc{
        padding: 0.8rem 0.6rem 0 0.6rem;
    }
    .applications-card span{
        font-size: calc(0.8rem + 0.5vw);
    }
    .applications-card p{
        font-size: calc(0.47rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .applications-foot-content p{
        margin: 1.6rem auto 0 auto;
        font-size: calc(0.55rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .applications{
        padding: 1.5rem 1rem;
    }
    .applications-head h2{
        font-size: calc(0.9rem + 0.5vw);
    }
    .applications-head p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.6rem;
    }
    .applications-card-row{
        margin-top: 2rem;
    }
    .applications-card{
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .applications-card .card-desc{
        padding: 0.7rem;
    }
    .applications-card span{
        font-size: calc(1.2rem + 0.5vw);
    }
    .applications-card p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .applications-foot-content p{
        margin: 1rem auto 1rem auto;
        width: 100%;
        font-size: calc(0.9rem + 0.5vw);
    }
}
/* Applications End */