/* Banner Start */
.contact-banner .banner-content{
    display: flex;
    align-items: end;
}
.contact-banner h1{
    color: #171612;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-banner .banner-content h1{
        font-size: calc(3.25rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Banner End */

/* Get In Touch Start */
.get-in-touch{
    padding: 5.5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.get-in-touch .contact-map{
    width: 48%;
}
.get-in-touch .get-in-touch-content{
    width: 48%;
}
.get-in-touch-content span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.get-in-touch-content h2{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
}
.get-in-touch-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.get-in-touch-content .get-in-touch-box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid #898989;
    padding: 1.2rem 0;
}
.get-in-touch-content .get-in-touch-box .box-icon{
    /* width: 13%; */
    border-radius: 50%;
    background-color: #179cab;
}
.get-in-touch-content .get-in-touch-box .box-icon .icon{
    width: 80px;
    height: 80px;
    padding: 1.3rem;
    color: #fff;
}
.get-in-touch-content .get-in-touch-box .box-content{
    width: 84%;
}
.get-in-touch-content .get-in-touch-box .box-content span{
    color: #171614;
    border: none;
    padding: 0;
    font-weight: 650;
    font-size: calc(0.75rem + 0.5vw);
}
.get-in-touch-content .get-in-touch-box .box-content a{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.6rem + 0.5vw);
    text-decoration: none;
    margin-top: 0.5rem;
    display: block;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .get-in-touch{
        padding: 5rem 7%;
    }
    .get-in-touch-content span{
        border: 2.5px solid #179cab;
        padding: 0.47rem 0.8rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .get-in-touch-content h2{
        font-size: calc(3.2rem + 0.5vw);
        margin-top: 1.4rem;
    }
    .get-in-touch-content p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.9rem;
        margin-bottom: 1.9rem;
    }
    .get-in-touch-content .get-in-touch-box{
        gap: 1.4rem;
        border-top: 0.95px solid #898989;
        padding: 1rem 0;
    }
    .get-in-touch-content .get-in-touch-box .box-icon .icon{
        width: 72px;
        height: 72px;
        padding: 1.15rem;
    }
    .get-in-touch-content .get-in-touch-box .box-content span{
        font-size: calc(0.7rem + 0.5vw);
    }
    .get-in-touch-content .get-in-touch-box .box-content a{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .get-in-touch{
        padding: 4.5rem 7%;
    }
    .get-in-touch-content span{
        border: 2px solid #179cab;
        padding: 0.45rem 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .get-in-touch-content h2{
        font-size: calc(2.9rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .get-in-touch-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.8rem;
        margin-bottom: 1.8rem;
    }
    .get-in-touch-content .get-in-touch-box{
        gap: 1.2rem;
        border-top: 0.9px solid #898989;
        padding: 0.9rem 0;
    }
    .get-in-touch-content .get-in-touch-box .box-icon .icon{
        width: 65px;
        height: 65px;
        padding: 1.1rem;
    }
    .get-in-touch-content .get-in-touch-box .box-content span{
        font-size: calc(0.65rem + 0.5vw);
    }
    .get-in-touch-content .get-in-touch-box .box-content a{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.35rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Get In Touch End */

/* Contact Form Start */
.contact-form{
    padding: 0 7% 6rem 7%;
}
.contact-form h3{
    color: #171614;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    text-align: center;
}
.contact-form form{
    width: 60%;
    margin: 2.5rem auto 0 auto;
}
.contact-form form .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.contact-form form .input-row input,
.contact-form form .input-row textarea{
    width: 48.5%;
    padding: 1.5rem 1.3rem;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    color: #171614;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 450;
    transition: all 0.2s ease;
}
.contact-form form .input-row input:focus,
.contact-form form .input-row textarea:focus{
    background-color: #f1f1f1;
}
.contact-form form .input-row textarea{
    width: 100%;
    min-height: 11rem;
    resize: none;
}
.contact-form form .input-row input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.contact-form form button{
    padding: 1.3rem 4.5rem;
    background-color: #179cab;
    border: none;
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 550;
    margin: 0 auto;
    display: block;
    border-radius: 0;
    letter-spacing: 3px;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Contact Form End */