/* Banner Start */
.gallery-banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-bottom: 9.5rem;
}
.gallery-banner h1{
    color: #171612;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.gallery-banner p{
    color: #171612;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    width: 45%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .gallery-banner .banner-content{
        padding-bottom: 8.5rem;
    }
    .gallery-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .gallery-banner .banner-content p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .gallery-banner .banner-content{
        padding-bottom: 6.5rem;
    }
    .gallery-banner .banner-content h1{
        font-size: calc(3.2rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .gallery-banner .banner-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .gallery-banner .banner-content{
        justify-content: center;
        padding-bottom: 0;
    }
    .gallery-banner h1{
        font-size: calc(1.5rem + 0.5vw);
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .gallery-banner p{
        display: none;
    }
}
/* Banner End */

/* Gallery Start */
.gallery{
    padding: 5rem 7%;
}
.gallery-head h2{
    font-weight: 700;
    font-size: calc(1.7rem + 0.5vw);
    color: #171612;
    text-transform: uppercase;
}
.gallery-head p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1rem;
}
.gallery-card-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
}
.gallery-card{
    width: 32%;
    overflow: hidden;
    margin-bottom: 1.7rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.063);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* safari support */
    border-radius: 15px;
    box-shadow: #179cab 1px 1px 15px 0px inset, #3be1f4 -1px -1px 15px 1px inset;
}
.gallery-card:hover{
    box-shadow: #179cab 3px 3px 20px 0px inset, #3be1f4 -3px -3px 20px 1px inset;
}
.gallery-card img{
    width: 100%;
    border-radius: 10px;
    transition: scale 0.8s ease;
}
.gallery-card img:hover{
    scale: 1.03;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .gallery{
        padding: 4.5rem 7%;
    }
    .gallery-head h2{
        font-size: calc(1.55rem + 0.5vw);
    }
    .gallery-head p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .gallery-card-row{
        margin-top: 3rem;
    }
    .gallery-card{
        margin-bottom: 1.5rem;
        padding: 0.9rem;
        border-radius: 13px;
    }
    .gallery-card img{
        border-radius: 8px;
    }
    .gallery-card img:hover{
        scale: 1.02;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .gallery{
        padding: 4rem 7%;
    }
    .gallery-head h2{
        font-size: calc(1.35rem + 0.5vw);
    }
    .gallery-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .gallery-card-row{
        margin-top: 2.5rem;
    }
    .gallery-card{
        margin-bottom: 1.35rem;
        padding: 0.8rem;
        border-radius: 11px;
    }
    .gallery-card img{
        border-radius: 6px;
    }
    .gallery-card img:hover{
        scale: 1.02;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .gallery{
        padding: 0 1rem 2.2rem 1rem;
    }
    .gallery-head h2{
        font-size: calc(1.1rem + 0.5vw);
    }
    .gallery-head p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .gallery-card-row{
        margin-top: 2rem;
        gap: 0;
        justify-content: space-between;
    }
    .gallery-card{
        width: 48%;
        margin-bottom: 1rem;
        padding: 0.4rem;
        border-radius: 10px;
    }
    .gallery-card img{
        border-radius: 7px;
    }
}
/* Gallery End */