/* Banner Start */
.home-banner .banner-content{
    display: flex;
    align-items: end;
}
.home-banner h1{
    color: #fff;
    font-weight: 800;
    font-size: calc(2.9rem + 0.5vw);
    text-transform: uppercase;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .home-banner h1{
        font-size: calc(2.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .home-banner h1{
        font-size: calc(2.32rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .home-banner h1{
        font-size: calc(1.3rem + 0.5vw);
    }
    .home-banner h1 br{
        display: none;
    }
}
/* Banner End */

/* What We Offer Start */
.what-we-offer{
    position: relative;
}
.what-we-offer-head{
    padding: 6rem 0 21.6rem 0;
    background-color: #171612;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-we-offer-head span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.what-we-offer-head h3{
    color: #fff;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.what-we-offer-cards-row{
    padding: 0 7% 2rem 7%;
    position: absolute;
    top: 19rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-offer-cards-row .offer-card{
    width: 30%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.what-we-offer-cards-row .offer-card img{
    width: 100%;
}
.what-we-offer-cards-row .card-desc{
    padding: 2rem 1rem;
}
.what-we-offer-cards-row .card-desc span{
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 800;
    color: #171612;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.what-we-offer-cards-row .card-desc p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    text-align: center;
    margin-top: 0.8rem;
}
.what-we-offer-cards-row .card-desc .button{
    color: #6c6c6c;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    padding: 0.7rem 0;
    margin-top: 1rem;
    width: 100%;
    background-color: #ededed;
    border-radius: 0;
}
.what-we-offer-cards-row .card-desc .button:hover{
    background-color: #179cab;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .what-we-offer-head{
        padding: 5.5rem 0 19.45rem 0;
    }
    .what-we-offer-head span{
        border: 2.5px solid #179cab;
        padding: 0.49rem 0.85rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .what-we-offer-head h3{
        font-size: calc(3rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .what-we-offer-cards-row{
        padding: 0 7% 1.5rem 7%;
        top: 17rem;
    }
    .what-we-offer-cards-row .card-desc{
        padding: 1.8rem 0.9rem;
    }
    .what-we-offer-cards-row .card-desc span{
        font-size: calc(1rem + 0.5vw);
    }
    .what-we-offer-cards-row .card-desc p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .what-we-offer-cards-row .card-desc .button{
        font-size: calc(0.45rem + 0.5vw);
        padding: 0.6rem 0;
        margin-top: 0.9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .what-we-offer-head{
        padding: 4.5rem 0 17.1rem 0;
    }
    .what-we-offer-head span{
        border: 2px solid #179cab;
        padding: 0.47rem 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .what-we-offer-head h3{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .what-we-offer-cards-row{
        padding: 0 7% 1rem 7%;
        top: 15rem;
    }
    .what-we-offer-cards-row .card-desc{
        padding: 1.6rem 0.8rem;
    }
    .what-we-offer-cards-row .card-desc span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .what-we-offer-cards-row .card-desc p{
        font-size: calc(0.45rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .what-we-offer-cards-row .card-desc .button{
        font-size: calc(0.45rem + 0.5vw);
        padding: 0.55rem 0;
        margin-top: 0.8rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* What We Offer End */

/* Testimonials Start */
.testimonials{
    padding: 24rem 7% 5rem 7%;
    background-image: url('../assets/images/testimonials-bg.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonials span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.testimonials h4{
    color: #171612;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
}
.testimonials .testimonials-left{
    width: 60%;
}
.testimonials .testimonials-tabbing{
    margin-top: 4rem;
}
.testimonials .testimonials-tabbing .tab-head{
    padding-bottom: 1.5rem;
}
.testimonials .testimonials-tabbing .nav-link{
    background: transparent;
    border: none;
}
.testimonials .testimonials-tabbing .nav-link img{
    width: 60px;
    border-radius: 50%;
    transition: outline 0.15s ease;
}
.testimonials .testimonials-tabbing .nav-link.active img{
    outline: 10px solid #179cab;
}
.testimonials .testimonials-tabbing .tab-pane{
    margin-top: 2rem;
}
.testimonials .testimonials-tabbing .tab-pane p{
    color: #171612;
    font-weight: 500;
    font-size: calc(0.75rem + 0.5vw);
    font-style: italic;
    line-height: 1.8;
}
.testimonials .testimonials-tabbing .tab-pane span.client-name{
    color: #171612;
    font-weight: 800;
    font-size: calc(0.75rem + 0.5vw);
    border: none;
    padding: 0;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.testimonials .testimonials-tabbing .tab-pane span.client-designation{
    color: #179cab;
    font-weight: 800;
    font-size: calc(0.55rem + 0.5vw);
    border: none;
    padding: 0;
    text-transform: uppercase;
    margin-top: 0;
}

.testimonials .testimonials-right{
    width: 30%;
    margin-top: 5.5rem;
}
.testimonials .testimonials-right .testimonial-hightlight-box{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image{
    width: 25%;
    padding: 2rem 1.4rem;
    background-color: #179cab;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image img{
    width: 100%;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content{
    width: 68%;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content p{
    color: #171612;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .testimonials{
        padding: 21rem 7% 4.5rem 7%;
    }
    .testimonials span{
        border: 2.5px solid #179cab;
        padding: 0.49rem 0.8rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .testimonials h4{
        font-size: calc(3rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .testimonials .testimonials-tabbing{
        margin-top: 3rem;
    }
    .testimonials .testimonials-tabbing .tab-head{
        padding-bottom: 1.2rem;
    }
    .testimonials .testimonials-tabbing .nav-link img{
        width: 55px;
    }
    .testimonials .testimonials-tabbing .nav-link.active img{
        outline: 9px solid #179cab;
    }
    .testimonials .testimonials-tabbing .tab-pane{
        margin-top: 1.2rem;
    }
    .testimonials .testimonials-tabbing .tab-pane p{
        font-size: calc(0.7rem + 0.5vw);
    }
    .testimonials .testimonials-tabbing .tab-pane span.client-name{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 2rem;
    }
    .testimonials .testimonials-tabbing .tab-pane span.client-designation{
        font-size: calc(0.5rem + 0.5vw);
    }

    .testimonials .testimonials-right{
        margin-top: 5rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box{
        margin-bottom: 1.7rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image{
        padding: 1.8rem 1.2rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content{
        padding-right: 2.5rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content p{
        font-size: calc(0.68rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .testimonials{
        padding: 19rem 7% 4rem 7%;
    }
    .testimonials span{
        border: 2px solid #179cab;
        padding: 0.45rem 0.8rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .testimonials h4{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .testimonials .testimonials-tabbing{
        margin-top: 2.5rem;
    }
    .testimonials .testimonials-tabbing .tab-head{
        padding-bottom: 1rem;
    }
    .testimonials .testimonials-tabbing .nav-link img{
        width: 50px;
    }
    .testimonials .testimonials-tabbing .nav-link.active img{
        outline: 8px solid #179cab;
    }
    .testimonials .testimonials-tabbing .tab-pane{
        margin-top: 1.1rem;
    }
    .testimonials .testimonials-tabbing .tab-pane p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .testimonials .testimonials-tabbing .tab-pane span.client-name{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.8rem;
    }
    .testimonials .testimonials-tabbing .tab-pane span.client-designation{
        font-size: calc(0.5rem + 0.5vw);
    }

    .testimonials .testimonials-right{
        margin-top: 4.5rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box{
        margin-bottom: 1.2rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image{
        padding: 1.6rem 1rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content{
        padding-right: 2rem;
    }
    .testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Testimonials End */