/* Banner Start */
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* Banner End */

/* What We Offer Start */
.what-we-offer{
    position: relative;
}
.what-we-offer-head{
    padding: 6rem 0 21.6rem 0;
    background-color: #171612;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-we-offer-head span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.what-we-offer-head h3{
    color: #fff;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.what-we-offer-cards-row{
    padding: 0 7% 2rem 7%;
    position: absolute;
    top: 19rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-offer-cards-row .offer-card{
    width: 30%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.what-we-offer-cards-row .offer-card img{
    width: 100%;
}
.what-we-offer-cards-row .card-desc{
    padding: 2rem 1rem;
}
.what-we-offer-cards-row .card-desc span{
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 800;
    color: #171612;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
.what-we-offer-cards-row .card-desc p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    text-align: center;
    margin-top: 0.8rem;
}
.what-we-offer-cards-row .card-desc .button{
    color: #6c6c6c;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    padding: 0.7rem 0;
    margin-top: 1rem;
    width: 100%;
    background-color: #ededed;
    border-radius: 0;
}
.what-we-offer-cards-row .card-desc .button:hover{
    background-color: #179cab;
    color: #fff;
}
/* What We Offer End */

/* Testimonials Start */
.testimonials{
    padding: 24rem 7% 5rem 7%;
    background-image: url('../assets/images/testimonials-bg.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonials span{
    display: block;
    width: max-content;
    color: #179cab;
    border: 3px solid #179cab;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
}
.testimonials h4{
    color: #171612;
    font-weight: 900;
    font-size: calc(3.5rem + 0.5vw);
    margin-top: 1.5rem;
}
.testimonials .testimonials-left{
    width: 65%;
}
.testimonials .testimonials-right{
    width: 30%;
    margin-top: 5.5rem;
}
.testimonials .testimonials-right .testimonial-hightlight-box{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image{
    width: 25%;
    padding: 2rem 1.4rem;
    background-color: #179cab;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-image img{
    width: 100%;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content{
    width: 68%;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}
.testimonials .testimonials-right .testimonial-hightlight-box .hightlight-content p{
    color: #171612;
    font-weight: 600;
    font-size: calc(0.75rem + 0.5vw);
}
/* Testimonials End */