/* What We Do Start */
.what-we-do{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-do-content{
    width: 60%;
}
.what-we-do-content h2{
    color: #171612;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.what-we-do-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.what-we-do-image{
    width: 35%;
    position: relative;
}
.what-we-do-image img{
    width: 100%;
    margin-top: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.15) 4px 4px 2.6px;
}
.what-we-do-image .layer{
    width: 100%;
    height: 98%;
    background-color: #179cab;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
}
/* What We Do End */

/* Product Details Start */
.product-details{
    padding: 5rem 7%;
    background-color: #179cab;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-details h3{
    color: #fff;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.product-details .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
}
.product-details p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.8rem;
    text-align: center;
    width: 65%;
    margin-bottom: 0;
}
/* Product Details End */