/* Banner Start */
.products-banner .banner-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.products-banner h1{
    color: #fff;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.products-banner p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    width: 50%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .products-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .products-banner .banner-content p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .products-banner .banner-content h1{
        font-size: calc(3.2rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .products-banner .banner-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .products-banner{
        overflow: hidden;
    }
    .products-banner img{
        width: 104%;
        margin-left: -2%;
    }
    .products-banner h1{
        font-size: calc(1.5rem + 0.5vw);
        margin-bottom: 0.2rem;
    }
    .products-banner p{
        display: none;
    }
}
/* Banner End */

/* What We Do Start */
.what-we-do{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-do-content{
    width: 60%;
}
.what-we-do-content h2{
    color: #171612;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.what-we-do-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.what-we-do-image{
    width: 35%;
    position: relative;
}
.what-we-do-image img{
    width: 100%;
    margin-top: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.15) 4px 4px 2.6px;
}
.what-we-do-image .layer{
    width: 100%;
    height: 98%;
    background-color: #179cab;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .what-we-do{
        padding: 4.5rem 7%;
    }
    .what-we-do-content h2{
        font-size: calc(3rem + 0.5vw);
    }
    .what-we-do-content p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .what-we-do-image .layer{
        height: 98.5%;
        right: -0.9rem;
        bottom: -0.9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .what-we-do{
        padding: 4rem 7%;
    }
    .what-we-do-content h2{
        font-size: calc(2.7rem + 0.5vw);
    }
    .what-we-do-content p{
        font-size: calc(0.58rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .what-we-do-image img{
        margin-top: 0.5rem;
    }
    .what-we-do-image .layer{
        height: 97.5%;
        right: -0.8rem;
        bottom: -0.8rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .what-we-do{
        padding: 0.5rem 1rem 0.2rem 1rem;
        flex-direction: column-reverse;
    }
    .what-we-do-content{
        width: 100%;
    }
    .what-we-do-content h2{
        font-size: calc(1.45rem + 0.5vw);
        margin-top: 2.5rem;
    }
    .what-we-do-content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .what-we-do-image{
        width: 100%;
        padding-right: 0.5rem;
    }
    .what-we-do-image img{
        margin-top: 0;
    }
    .what-we-do-image .layer{
        height: 98.5%;
        width: 96.5%;
        right: 0;
        bottom: -0.5rem;
    }
}
/* What We Do End */

/* Product Details Start */
.product-details{
    padding: 5rem 7%;
    background-color: #179cab;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-details h3{
    color: #fff;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.product-details .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
}
.product-details p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.8rem;
    text-align: center;
    width: 65%;
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .product-details{
        padding: 4.5rem 7%;
    }
    .product-details h3{
        font-size: calc(3rem + 0.5vw);
    }
    .product-details .line{
        width: 65px;
        height: 5.5px;
    }
    .product-details p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.7rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .product-details{
        padding: 4rem 7%;
        margin-top: 0.9rem;
    }
    .product-details h3{
        font-size: calc(2.7rem + 0.5vw);
    }
    .product-details .line{
        width: 60px;
        height: 5px;
    }
    .product-details p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.6rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .product-details{
        padding: 2rem 1rem;
    }
    .product-details h3{
        font-size: calc(1.5rem + 0.5vw);
    }
    .product-details .line{
        width: 40px;
        height: 4px;
    }
    .product-details p{
        font-size: calc(0.9rem + 0.5vw);
        width: 100%;
        margin-top: 1.5rem;
    }
}
/* Product Details End */

/* Zinc Wires Content Start */
.zinc-wires-content{
    padding: 5rem 7%;
}
.zinc-wires-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zinc-wires-top .zinc-top-image{
    width: 45%;
}
.zinc-wires-top .zinc-top-image img{
    width: 100%;
}
.zinc-wires-top .zinc-top-content{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.zinc-wires-top .zinc-top-content h4{
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
    color: #171612;
}
.zinc-wires-top .highlight-box{
    background-color: #fff;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.zinc-wires-top .zinc-wire-highlights{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.zinc-wires-top .highlight-box span{
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    display: block;
    color: #171612;
}
.zinc-wires-top .highlight-box .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0.45rem;
    margin-right: 0.7rem;
}
.zinc-wires-bottom{
    margin-top: 4rem;
}
.zinc-wires-bottom p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
    line-height: 1.75;
}
.zinc-wires-bottom p:last-child{
    margin-bottom: 0;
}
.zinc-wires-bottom .zinc-options{
    display: flex;
    gap: 1.7rem;
    margin-bottom: 1rem;
}
.zinc-wires-bottom .zinc-options .opt-box{
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: inset 3px 3px 6px rgba(204, 219, 232, 1), inset -3px -3px 6px rgba(255, 255, 255, 0.527), inset 0 0 6px rgba(0, 0, 0, 0.658);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.zinc-wires-bottom .zinc-options .opt-box .icon{
    color: #179cab;
    font-size: calc(0.5rem + 0.5vw);
}
.zinc-wires-bottom .zinc-options span{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .zinc-wires-content{
        padding: 4.5rem 7%;
    }
    .zinc-wires-top .zinc-top-content h4{
        font-size: calc(3rem + 0.5vw);
    }
    .zinc-wires-top .highlight-box{
        padding: 1.8rem 1rem;
    }
    .zinc-wires-top .zinc-wire-highlights{
        gap: 1.1rem;
    }
    .zinc-wires-top .highlight-box span{
        font-size: calc(0.65rem + 0.5vw);
    }
    .zinc-wires-top .highlight-box .icon{
        width: 31px;
        height: 31px;
        padding: 0.42rem;
        margin-right: 0.6rem;
    }
    .zinc-wires-bottom{
        margin-top: 3.7rem;
    }
    .zinc-wires-bottom p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options{
        gap: 1.5rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box{
        padding: 0.9rem;
        gap: 0.5rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box .icon{
        font-size: calc(0.49rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options span{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .zinc-wires-content{
        padding: 4rem 7%;
    }
    .zinc-wires-top .zinc-top-content h4{
        font-size: calc(2.7rem + 0.5vw);
    }
    .zinc-wires-top .highlight-box{
        padding: 1.5rem 1rem;
    }
    .zinc-wires-top .zinc-wire-highlights{
        gap: 0.8rem;
    }
    .zinc-wires-top .highlight-box span{
        font-size: calc(0.6rem + 0.5vw);
    }
    .zinc-wires-top .highlight-box .icon{
        width: 28px;
        height: 28px;
        padding: 0.4rem;
        margin-right: 0.5rem;
    }
    .zinc-wires-bottom{
        margin-top: 3.3rem;
    }
    .zinc-wires-bottom p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options{
        gap: 1.3rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box{
        padding: 0.8rem;
        gap: 0.48rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box .icon{
        font-size: calc(0.47rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options span{
        font-size: calc(0.55rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .zinc-wires-content{
        padding: 1.5rem 1rem;
    }
    .zinc-wires-top .zinc-top-image{
        width: 100%;
    }
    .zinc-wires-top .zinc-top-content{
        width: 100%;
        margin-top: 1.5rem;
    }
    .zinc-wires-top .zinc-top-content h4{
        font-size: calc(1.45rem + 0.5vw);
    }
    .zinc-wires-top .zinc-wire-highlights{
        gap: 1rem;
        margin-top: 0.7rem;
    }
    .zinc-wires-top .highlight-box{
        padding: 1rem 0.7rem;
    }
    .zinc-wires-top .highlight-box span{
        font-size: calc(0.9rem + 0.5vw);
        display: flex;
        align-items: center;
    }
    .zinc-wires-top .highlight-box .icon{
        width: 30px;
        height: 30px;
        padding: 0.4rem;
        margin-right: 0.8rem;
    }
    .zinc-wires-bottom{
        margin-top: 1.5rem;
    }
    .zinc-wires-bottom p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options{
        flex-direction: column;
        gap: 1rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box{
        padding: 1rem 0.8rem;
        gap: 0.5rem;
    }
    .zinc-wires-bottom .zinc-options .opt-box .icon{
        font-size: calc(0.9rem + 0.5vw);
    }
    .zinc-wires-bottom .zinc-options span{
        font-size: calc(0.9rem + 0.5vw);
    }
}
/* Zinc Wires Content End */

/* Zinc Tabbing Start*/
.zinc-tabbing-container{
    padding: 0 7% 5.5rem 7%;
}
.zinc-tabbing .nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #051014;
}
.zinc-tabbing .nav-link{
    color: #fff !important;
    padding: 0;
    border-radius: 0;
    border: none;
}
.zinc-tabbing .nav-link .button{
    background: #092732;
    border: none;
    color: #fff !important;
    padding: 1.2rem 1.7rem;
    border-radius: 0;
    font-weight: 600;
    font-size: calc(0.7rem + 0.5vw);
}
.zinc-tabbing .nav-link.active{
    border: none;
}
.zinc-tabbing .nav-link.active .button{
    background: #179cab;
    border: none;
}
.zinc-tabbing .tab-content{
    background-color: #051014;
    margin-top: 0.2rem;
}
.zinc-tabbing .tab-pane{
    padding: 3rem;
    text-align: center;
    color: #fff;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 2px solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: calc(0.7rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .zinc-tabbing-container{
        padding: 0 7% 5rem 7%;
    }
    .zinc-tabbing .nav{
        padding: 0.9rem;
    }
    .zinc-tabbing .nav-link .button{
        padding: 1.1rem 1.4rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .zinc-tabbing .tab-content{
        margin-top: 0.15rem;
    }
    .zinc-tabbing .tab-pane{
        padding: 2.7rem;
    }
    td, th {
        border: 1.5px solid #fff;
        padding: 0.9rem 0;
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .zinc-tabbing-container{
        padding: 0 7% 4.5rem 7%;
    }
    .zinc-tabbing .nav{
        padding: 0.8rem;
    }
    .zinc-tabbing .nav-link .button{
        padding: 0.9rem 0.95rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .zinc-tabbing .tab-content{
        margin-top: 0.1rem;
    }
    .zinc-tabbing .tab-pane{
        padding: 2.5rem;
    }
    td, th {
        border: 1px solid #fff;
        padding: 0.8rem 0;
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Zinc Tabbing End */

/* Product Range Start */
.product-range{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-range .product-range-card{
    width: 48%;
    background-color: #179cab;
    color: #fff;
    padding: 2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}
.product-range .product-range-card span{
    display: block;
    text-align: center;
    font-size: calc(2rem + 0.5vw);
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.product-range .product-range-card p{
    font-size: calc(0.7rem + 0.5vw);
    line-height: 1.7;
    margin: 0;
}
.product-range .product-range-card b:nth-child(4){
    margin-top: 1rem;
}
.product-range .product-range-card b{
    font-size: calc(0.75rem + 0.5vw);
    margin-bottom: 0.5rem;
    display: block;
}
.product-range .product-range-card img{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 100px;
}
.product-range .product-range-card:nth-child(1) img{
    width: 82px;
    bottom: 2.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .product-range .product-range-card{
        padding: 1.8rem;
    }
    .product-range .product-range-card span{
        font-size: calc(1.7rem + 0.5vw);
        margin-bottom: 1.4rem;
    }
    .product-range .product-range-card p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .product-range .product-range-card b{
        font-size: calc(0.7rem + 0.5vw);
    }
    .product-range .product-range-card img{
        bottom: 1.7rem;
        right: 1.7rem;
        width: 90px;
    }
    .product-range .product-range-card:nth-child(1) img{
        width: 72px;
        bottom: 2.2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .product-range .product-range-card{
        padding: 1.5rem;
    }
    .product-range .product-range-card span{
        font-size: calc(1.5rem + 0.5vw);
        margin-bottom: 1.4rem;
    }
    .product-range .product-range-card p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .product-range .product-range-card b{
        font-size: calc(0.65rem + 0.5vw);
    }
    .product-range .product-range-card img{
        bottom: 1.4rem;
        right: 1.4rem;
        width: 80px;
    }
    .product-range .product-range-card:nth-child(1) img{
        width: 62px;
        bottom: 1.9rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Product Range End */

/* Packaging Units Start */
.packaging-unit{
    padding: 5rem 0 5.5rem 0;
    background-image: url('../assets//images/packaging-units-bg.avif');
    background-position: center;
    background-size: cover;
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    position: relative;
}
.packaging-unit-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.607);
}
.packaging-unit span{
    display: block;
    text-align: center;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}
.packaging-unit-cards-row{
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    position: relative;
}
.packaging-unit-card{
    background-color: #fff;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    border-left: 10px solid #179cab;
    position: relative;
    overflow: hidden;
}
.packaging-unit-card p{
    text-align: center;
    margin: 0;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    color: #171612;
    z-index: 2;
    transition: color 0.3s ease;
}
.packaging-unit-card:hover p{
    color: #fff;
}
.packaging-unit-card .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: #179cab;
    z-index: 1;
    transition: left 0.3s ease;
}
.packaging-unit-card:hover .layer{
    left: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .packaging-unit{
        padding: 4.5rem 0 5rem 0;
        margin-top: 5rem;
        margin-bottom: 0.9rem;
    }
    .packaging-unit span{
        font-size: calc(2.2rem + 0.5vw);
    }
    .packaging-unit-cards-row{
        margin-top: 1.8rem;
    }
    .packaging-unit-card{
        padding: 2rem 1rem;
        border-left: 9px solid #179cab;
    }
    .packaging-unit-card p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .packaging-unit{
        padding: 4rem 0 4.5rem 0;
        margin-top: 4rem;
        margin-bottom: 0.8rem;
    }
    .packaging-unit span{
        font-size: calc(1.9rem + 0.5vw);
    }
    .packaging-unit-cards-row{
        margin-top: 1.6rem;
    }
    .packaging-unit-card{
        padding: 1.5rem 1rem;
        border-left: 7px solid #179cab;
    }
    .packaging-unit-card p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}
/* Packaging Units End */