/* What We Do Start */
.what-we-do{
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-do-content{
    width: 60%;
}
.what-we-do-content h2{
    color: #171612;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.what-we-do-content p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    line-height: 1.8;
}
.what-we-do-image{
    width: 35%;
    position: relative;
}
.what-we-do-image img{
    width: 100%;
    margin-top: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.15) 4px 4px 2.6px;
}
.what-we-do-image .layer{
    width: 100%;
    height: 98%;
    background-color: #179cab;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: -1;
}
/* What We Do End */

/* Product Details Start */
.product-details{
    padding: 5rem 7%;
    background-color: #179cab;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-details h3{
    color: #fff;
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
}
.product-details .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
}
.product-details p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.8rem;
    text-align: center;
    width: 65%;
    margin-bottom: 0;
}
/* Product Details End */

/* Zinc Wires Content Start */
.zinc-wires-content{
    padding: 5rem 7%;
}
.zinc-wires-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zinc-wires-top .zinc-top-image{
    width: 45%;
}
.zinc-wires-top .zinc-top-image img{
    width: 100%;
}
.zinc-wires-top .zinc-top-content{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.zinc-wires-top .zinc-top-content h4{
    font-weight: 800;
    font-size: calc(3.5rem + 0.5vw);
    color: #171612;
}
.zinc-wires-top .highlight-box{
    background-color: #fff;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.zinc-wires-top .zinc-wire-highlights{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.zinc-wires-top .highlight-box span{
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    display: block;
    color: #171612;
}
.zinc-wires-top .highlight-box .icon{
    background-color: #ebebeb;
    color: #179cab;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0.45rem;
    margin-right: 0.7rem;
}
.zinc-wires-bottom{
    margin-top: 4rem;
}
.zinc-wires-bottom p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
    line-height: 1.75;
}
.zinc-wires-bottom p:last-child{
    margin-bottom: 0;
}
.zinc-wires-bottom .zinc-options{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.zinc-wires-bottom .zinc-options .opt-box{
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: inset 3px 3px 6px rgba(204, 219, 232, 1), inset -3px -3px 6px rgba(255, 255, 255, 0.527), inset 0 0 6px rgba(0, 0, 0, 0.658);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.zinc-wires-bottom .zinc-options .opt-box .icon{
    color: #179cab;
    font-size: calc(0.5rem + 0.5vw);
}
/* Zinc Wires Content End */