/* Banner Start */
.quality-banner .banner-content{
    display: flex;
    align-items: end;
}
.quality-banner h1{
    color: #fff;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
}
/* Banner End */

/* Quality Assurance Start */
.quality-assurance{
    padding: 5rem 7%;
}
.quality-assurance h2{
    font-weight: 900;
    font-size: calc(4rem + 0.5vw);
    color: #171612;
    text-align: center;
}
.quality-assurance .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #179cab;
    margin: 0 auto;
}
.quality-cards-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quality-cards-row .quality-box{
    width: 48.5%;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.quality-cards-row .quality-box:nth-child(1){
    background-image: url('../assets/images/products/2.avif');
}
.quality-cards-row .quality-box:nth-child(2){
    background-image: url('../assets/images/products/1.avif');
}
.quality-cards-row .quality-box .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #171612d4;
    transition: all 0.3s ease;
}
.quality-cards-row .quality-box:hover .layer{
    background-color: #179cab;
}
.quality-cards-row .quality-box span{
    position: absolute;
    top: 0.8rem;
    display: block;
    font-size: calc(3rem + 0.5vw);
    font-weight: 700;
}
.quality-cards-row .quality-box h3{
    position: relative;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.quality-cards-row .quality-box p{
    position: relative;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
}
.quality-cards-row .quality-box .quality-list{
    margin-top: 2rem;
}
.quality-cards-row .quality-box .quality-list p{
    margin-bottom: 0.5rem;
}
.quality-cards-row .quality-box .quality-list .icon{
    margin-right: 0.4rem;
}
/* Quality Assurance End */

/* Quality Control Start */
.quality-control{
    padding: 0 7% 7rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quality-control-content{
    width: 48.5%;
}
.quality-control-content h4{
    font-weight: 900;
    font-size: calc(3rem + 0.5vw);
    color: #171612;
    margin-bottom: 2rem;
}
.quality-control-content p,
.quality-control-content li{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    color: #6c6c6c;
}
.quality-control-content li{
    margin-bottom: 1rem;
}
.quality-control-content p:last-child{
    margin-bottom: 0;
}
.quality-control-image{
    width: 48.5%;
    position: relative;
}
.quality-control-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0.6rem;
    border-radius: 2px;
    z-index: 2;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.33) 1.95px 1.95px 2.6px;
}
.quality-control-image .quality-image-outer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #179cab;
    top: 2rem;
    right: -1.5rem;
    z-index: 1;
}
/* Quality Control End */