/* Quality Assurance Start */
.quality-assurance{
    padding: 5rem 7%;
}
.quality-assurance h2{
    font-weight: 900;
    font-size: calc(4rem + 0.5vw);
    color: #171612;
    text-align: center;
}
.quality-assurance .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #171612;
    margin: 0 auto;
}
/* Quality Assurance End */