/* Banner Start */
.quality-banner .banner-content{
    display: flex;
    align-items: end;
}
.quality-banner h1{
    color: #fff;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .quality-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .quality-banner .banner-content h1{
        font-size: calc(3.25rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .quality-banner h1{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 0.2rem;
    }
}
/* Banner End */

/* Quality Assurance Start */
.quality-assurance{
    padding: 5rem 7%;
}
.quality-assurance h2{
    font-weight: 900;
    font-size: calc(4rem + 0.5vw);
    color: #171612;
    text-align: center;
}
.quality-assurance .line{
    width: 70px;
    height: 6px;
    border-radius: 10px;
    background-color: #179cab;
    margin: 0 auto;
}
.quality-cards-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quality-cards-row .quality-box{
    width: 48.5%;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.quality-cards-row .quality-box:nth-child(1){
    background-image: url('../assets/images/products/2.avif');
}
.quality-cards-row .quality-box:nth-child(2){
    background-image: url('../assets/images/products/1.avif');
}
.quality-cards-row .quality-box .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #171612d4;
    transition: all 0.3s ease;
}
.quality-cards-row .quality-box:hover .layer{
    background-color: #179cab;
}
.quality-cards-row .quality-box span{
    position: absolute;
    top: 0.8rem;
    display: block;
    font-size: calc(3rem + 0.5vw);
    font-weight: 700;
}
.quality-cards-row .quality-box h3{
    position: relative;
    font-size: calc(2.5rem + 0.5vw);
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.quality-cards-row .quality-box p{
    position: relative;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
}
.quality-cards-row .quality-box .quality-list{
    margin-top: 2rem;
}
.quality-cards-row .quality-box .quality-list p{
    margin-bottom: 0.5rem;
    display: flex;
}
.quality-cards-row .quality-box .quality-list .icon{
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .quality-assurance{
        padding: 4.5rem 7%;
    }
    .quality-assurance h2{
        font-size: calc(3.5rem + 0.5vw);
    }
    .quality-assurance .line{
        width: 65px;
        height: 5.5px;
    }
    .quality-cards-row{
        margin-top: 3.2rem;
    }
    .quality-cards-row .quality-box{
        padding: 1.8rem;
    }
    .quality-cards-row .quality-box span{
        top: 0.8rem;
        font-size: calc(2.6rem + 0.5vw);
    }
    .quality-cards-row .quality-box h3{
        font-size: calc(2.2rem + 0.5vw);
        margin-top: 6rem;
        margin-bottom: 1.8rem;
    }
    .quality-cards-row .quality-box p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .quality-cards-row .quality-box .quality-list{
        margin-top: 1.7rem;
    }
    .quality-cards-row .quality-box .quality-list p{
        margin-bottom: 0.5rem;
    }
    .quality-cards-row .quality-box .quality-list .icon{
        margin-right: 0.48rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .quality-assurance{
        padding: 4rem 7%;
    }
    .quality-assurance h2{
        font-size: calc(3rem + 0.5vw);
    }
    .quality-assurance .line{
        width: 60px;
        height: 5px;
    }
    .quality-cards-row{
        margin-top: 2.8rem;
    }
    .quality-cards-row .quality-box{
        padding: 1.7rem;
    }
    .quality-cards-row .quality-box span{
        top: 0.7rem;
        font-size: calc(2.4rem + 0.5vw);
    }
    .quality-cards-row .quality-box h3{
        font-size: calc(2rem + 0.5vw);
        margin-top: 5rem;
        margin-bottom: 1.6rem;
    }
    .quality-cards-row .quality-box p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .quality-cards-row .quality-box .quality-list{
        margin-top: 1.5rem;
    }
    .quality-cards-row .quality-box .quality-list p{
        margin-bottom: 0.48rem;
    }
    .quality-cards-row .quality-box .quality-list .icon{
        margin-right: 0.45rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .quality-assurance{
        padding: 1.5rem 1rem;
    }
    .quality-assurance h2{
        font-size: calc(1.45rem + 0.5vw);
    }
    .quality-assurance .line{
        width: 40px;
        height: 4px;
    }
    .quality-cards-row{
        margin-top: 2rem;
    }
    .quality-cards-row .quality-box{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .quality-cards-row .quality-box span{
        top: 0.5rem;
        font-size: calc(2rem + 0.5vw);
    }
    .quality-cards-row .quality-box h3{
        font-size: calc(1.45rem + 0.5vw);
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }
    .quality-cards-row .quality-box p{
        font-size: calc(0.9rem + 0.5vw);
        margin: 0;
    }
    .quality-cards-row .quality-box .quality-list{
        margin-top: 1.5rem;
    }
    .quality-cards-row .quality-box .quality-list p{
        margin-bottom: 0.5rem;
        display: flex;
    }
    .quality-cards-row .quality-box .quality-list .icon{
        margin-right: 0.6rem;
        margin-top: 5px;
    }
    .quality-cards-row .quality-box .quality-list p:nth-child(1) .icon{
        font-size: calc(1.2rem + 0.5vw);
    }
    .quality-cards-row .quality-box .quality-list p:nth-child(2) .icon{
        font-size: calc(1rem + 0.5vw);
    }
    .quality-cards-row .quality-box .quality-list p:nth-child(5) .icon{
        font-size: calc(1.85rem + 0.5vw);
        margin-top: -0.1rem;
    }
}
/* Quality Assurance End */

/* Quality Control Start */
.quality-control{
    padding: 0 7% 7rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quality-control-content{
    width: 48.5%;
}
.quality-control-content h4{
    font-weight: 900;
    font-size: calc(3rem + 0.5vw);
    color: #171612;
    margin-bottom: 2rem;
}
.quality-control-content p,
.quality-control-content li{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    color: #6c6c6c;
}
.quality-control-content li{
    margin-bottom: 1rem;
}
.quality-control-content p:last-child{
    margin-bottom: 0;
}
.quality-control-image{
    width: 48.5%;
    position: relative;
}
.quality-control-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0.6rem;
    border-radius: 2px;
    z-index: 2;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.33) 1.95px 1.95px 2.6px;
}
.quality-control-image .quality-image-outer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #179cab;
    top: 2rem;
    right: -1.5rem;
    z-index: 1;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .quality-control{
        padding: 0 7% 6.5rem 7%;
    }
    .quality-control-content h4{
        font-size: calc(2.7rem + 0.5vw);
        margin-bottom: 1.8rem;
    }
    .quality-control-content p,
    .quality-control-content li{
        font-size: calc(0.6rem + 0.5vw);
    }
    .quality-control-image img{
        margin-top: 0.65rem;
    }
    .quality-control-image .quality-image-outer{
        top: 2rem;
        right: -1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .quality-control{
        padding: 0 7% 6rem 7%;
    }
    .quality-control-content h4{
        font-size: calc(2.5rem + 0.5vw);
        margin-bottom: 1.6rem;
    }
    .quality-control-content p,
    .quality-control-content li{
        font-size: calc(0.55rem + 0.5vw);
    }
    .quality-control-image img{
        margin-top: 0.68rem;
    }
    .quality-control-image .quality-image-outer{
        top: 1.95rem;
        right: -1.3rem;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .quality-control{
        padding: 0 1rem 3rem 1rem;
        flex-direction: column-reverse;
    }
    .quality-control-content{
        width: 100%;
        margin-top: 2.5rem;
    }
    .quality-control-content h4{
        font-size: calc(1.45rem + 0.5vw);
        margin-bottom: 1rem;
    }
    .quality-control-content p,
    .quality-control-content li{
        font-size: calc(0.9rem + 0.5vw);
    }
    .quality-control-content li{
        margin-bottom: 0.8rem;
    }
    .quality-control-image{
        width: 100%;
        padding-right: 0.7rem;
    }
    .quality-control-image img{
        margin-top: 0.3rem;
    }
    .quality-control-image .quality-image-outer{
        width: 96%;
        height: 97.5%;
        top: 1rem;
        right: 0;
    }
}
/* Quality Control End */