/* Banner Start */
.services-banner .banner-content{
    display: flex;
    align-items: end;
}
.services-banner h1{
    color: #171612;
    font-weight: 800;
    font-size: calc(4rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .services-banner .banner-content h1{
        font-size: calc(3.7rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .services-banner .banner-content h1{
        font-size: calc(3.25rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .services-banner h1{
        font-size: calc(1.45rem + 0.5vw);
        margin-bottom: 0.2rem;
    }
}
/* Banner End */

/* Offered Services Start */
.offered-services{
    padding: 5rem 7% 3rem 7%;
}
.offered-services p{
    color: #6c6c6c;
    font-weight: 500;
    font-size: calc(0.7rem + 0.5vw);
    line-height: 1.8;
}
.offered-services p span{
    font-style: italic;
    font-weight: 700;
}
.offered-services b{
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    display: block;
}
.offered-services-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.offered-services-row .offered-services-card{
    width: 31%;
    box-shadow: rgba(0, 0, 0, 0.427) 0px 3px 8px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.offered-services-row .offered-services-card img{
    width: 100%;
}
.offered-services-row .offered-services-card .card-desc{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.offered-services-row .offered-services-card .card-desc span{
    display: block;
    text-align: center;
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    color: #171612;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
.offered-services-row .offered-services-card .card-desc p{
    margin-top: 0.8rem;
    font-size: calc(0.55rem + 0.5vw);
    line-height: 1.5;
    text-align: center;
    flex-grow: 1;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .offered-services{
        padding: 4.5rem 7% 2.5rem 7%;
    }
    .offered-services p{
        font-size: calc(0.65rem + 0.5vw);
    }
    .offered-services b{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.4rem;
    }
    .offered-services-row{
        margin-top: 2.6rem;
    }
    .offered-services-row .offered-services-card .card-desc{
        padding: 0.9rem;
    }
    .offered-services-row .offered-services-card .card-desc span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .offered-services-row .offered-services-card .card-desc p{
        margin-top: 0.7rem;
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .offered-services{
        padding: 4rem 7% 2.2rem 7%;
    }
    .offered-services p{
        font-size: calc(0.6rem + 0.5vw);
    }
    .offered-services b{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .offered-services-row{
        margin-top: 2.2rem;
    }
    .offered-services-row .offered-services-card .card-desc{
        padding: 0.8rem;
    }
    .offered-services-row .offered-services-card .card-desc span{
        font-size: calc(0.8rem + 0.5vw);
    }
    .offered-services-row .offered-services-card .card-desc p{
        margin-top: 0.6rem;
        font-size: calc(0.47rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .offered-services{
        padding: 1rem 1rem 1rem 1rem;
    }
    .offered-services p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .offered-services b{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .offered-services-row{
        margin-top: 1.5rem;
    }
    .offered-services-row .offered-services-card{
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .offered-services-row .offered-services-card .card-desc{
        padding: 0.8rem;
    }
    .offered-services-row .offered-services-card .card-desc span{
        font-size: calc(1.3rem + 0.5vw);
        margin-top: 0;
    }
    .offered-services-row .offered-services-card .card-desc p{
        margin-top: 0.6rem;
        font-size: calc(0.9rem + 0.5vw);
    }
}
/* Offered Services End */

/* Tagline Start */
.services-tagline{
    padding: 0 7% 6rem 7%;
}
.services-tagline-content{
    background-color: #179cab;
    padding: 2.5rem 8rem;
    border-radius: 10px;
}
.services-tagline-content p{
    margin: 0;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    color: #fff;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .services-tagline{
        padding: 0 7% 5.5rem 7%;
    }
    .services-tagline-content{
        padding: 2.3rem 7rem;
    }
    .services-tagline-content p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .services-tagline{
        padding: 0 7% 5rem 7%;
    }
    .services-tagline-content{
        padding: 2rem 5.5rem;
    }
    .services-tagline-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .services-tagline{
        padding: 0 1rem 3rem 1rem;
    }
    .services-tagline-content{
        padding: 1.5rem 1rem;
        border-radius: 5px;
    }
    .services-tagline-content p{
        font-size: calc(0.95rem + 0.5vw);
    }
}
/* Tagline End */