.footer-content{
    background-color: #051014;
    padding: 5rem 7%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.foot-box:nth-child(1){
    width: 28%;
}
.foot-box:nth-child(2){
    width: 15%;
}
.foot-box:nth-child(3){
    width: 27%;
}
.foot-box:nth-child(4){
    width: 15%;
}
.foot-box img{
    width: 200px;
}
.foot-box p{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    margin-top: 2rem;
}
.foot-box span{
    color: #fff;
    font-weight: 700;
    font-size: calc(0.9rem + 0.5vw);
    margin-bottom: 2rem;
    display: block;
}
.foot-box a{
    color: #fff;
    font-weight: 500;
    font-size: calc(0.55rem + 0.5vw);
    margin-bottom: 0.8rem;
    display: block;
    text-decoration: none;
    display: flex;
    gap: 1rem;
}
.foot-box a:hover{
    text-decoration: underline;
}
.foot-box a .icon{
    color: #fff;
    font-size: calc(2.5rem + 0.5vw);
    margin-top: -0.4rem;
}
.foot-box a .factory-icon{
    font-size: calc(3.5rem + 0.5vw);
    margin-top: -1.1rem;
}
.foot-box a .phone-icon{
    font-size: calc(0.8rem + 0.5vw);
    margin-top: 1px;
}
.foot-box a .email-icon{
    font-size: calc(0.9rem + 0.5vw);
    margin-top: 2px;
}
.foot-box .social-icons{
    display: flex;
    gap: 1rem;
}
.foot-box .social-icons a{
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #179cab;
    border-radius: 2px;
    text-align: center;
    display: block;
    font-size: calc(0.8rem + 0.5vw);
    transition: all 0.2s ease;
}
.foot-box .social-icons a:hover{
    background-color: #ffaa0f;
}
footer .copyright{
    background-color: #179cab;
    padding: 1rem 0;
}
footer .copyright p{
   margin: 0;
   text-align: center;
   color: #fff;
   font-weight: 500;
   font-size: calc(0.55rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .footer-content{
        padding: 4.5rem 7%;
    }
    .foot-box img{
        width: 180px;
    }
    .foot-box p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 1.8rem;
    }
    .foot-box span{
        font-size: calc(0.8rem + 0.5vw);
        margin-bottom: 1.8rem;
    }
    .foot-box a{
        font-size: calc(0.5rem + 0.5vw);
        margin-bottom: 0.7rem;
        gap: 0.9rem;
    }
    .foot-box a .icon{
        font-size: calc(2.3rem + 0.5vw);
    }
    .foot-box a .factory-icon{
        font-size: calc(3.3rem + 0.5vw);
    }
    .foot-box a .phone-icon{
        font-size: calc(0.75rem + 0.5vw);
    }
    .foot-box .social-icons{
        gap: 0.9rem;
    }
    .foot-box .social-icons a{
        width: 38px;
        height: 38px;
        line-height: 36px;
        font-size: calc(0.75rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.9rem 0;
    }
    footer .copyright p{
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .footer-content{
        padding: 4rem 7%;
    }
    .foot-box img{
        width: 160px;
    }
    .foot-box p{
        font-size: calc(0.47rem + 0.5vw);
        margin-top: 1.7rem;
    }
    .foot-box span{
        font-size: calc(0.7rem + 0.5vw);
        margin-bottom: 1.6rem;
    }
    .foot-box a{
        font-size: calc(0.47rem + 0.5vw);
        margin-bottom: 0.6rem;
        gap: 0.8rem;
    }
    .foot-box a .icon{
        font-size: calc(2.1rem + 0.5vw);
    }
    .foot-box a .factory-icon{
        font-size: calc(3.2rem + 0.5vw);
    }
    .foot-box a .phone-icon{
        font-size: calc(0.75rem + 0.5vw);
    }
    .foot-box a .email-icon{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 2px;
    }
    .foot-box .social-icons{
        gap: 0.9rem;
    }
    .foot-box .social-icons a{
        width: 35px;
        height: 35px;
        line-height: 33px;
        font-size: calc(0.72rem + 0.5vw);
    }
    footer .copyright{
        padding: 0.8rem 0;
    }
    footer .copyright p{
        font-size: calc(0.47rem + 0.5vw);
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    
}