*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Banner Start */
.banner{
    width: 100%;
    height: 88vh;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem 7%;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .banner-content{
        padding: 3.5rem 7%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .banner-content{
        padding: 3rem 7%;
    }
}

/* Mobile screen */
@media screen and (max-width: 768px) {
    .banner{
        height: auto;
    }
    .banner .banner-content{
        padding: 0.5rem 1rem;
    }
    #banner-moblile-text{
        padding: 1rem 1rem;
    }
    #banner-moblile-text p{
        color: #171614;
        font-weight: 500;
        font-size: calc(0.88rem + 0.5vw);
    }
}

@media screen and (min-width: 768px) {
    #banner-moblile-text{
        display: none;
    }
}
/* Banner End */