*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Banner Start */
.banner{
    width: 100%;
    height: 88vh;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7%;
}
/* Banner End */